<footer>
       <button class="btn" (click)="scrollToTop()">
         <p>Torna su</p>
       </button>

    <div class="back1">
     
        <div class="child" style="margin-left: 3rem;"> 
            <p><b>Per conoscerci meglio</b></p>
        </div>
        <div class="divider"></div>
        <div class="child"> 
            <p><b>Guadagna con Sadzone</b></p>
            <p>Crea il tuo negozio</p>
        </div>
        <div class="divider"></div>
        <div class="child"> 
            <p><b>Metodi di pagamento</b></p>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="child"> 
            <p><b>Hai bisogno di aiuto?</b></p>
            <p></p>
        </div>
    </div>
        <hr style="width:100%;height: 0cm; margin-top: 0%;margin-bottom: 0%;">
    <div class="back2">
        <br>
        <div class=""> 
            <img src="../../../assets/img/logo-white.png" alt="" width="120px" height="40px">
        </div>
        <p>Australia  Brasile  Canada  Cina  Francia  Germania  Giappone  India  Messico  Paesi/Regioni Bassi  Polonia  Emirati Arabi Uniti  Regno Unito  Spagna</p>
    </div>
    <div class="back3">
        <div class="child2" style="margin-left: 3rem;"> 
            <p><b>Faccia Libro</b></p>
            <p class="desc">Sito di Blog</p>
        </div>
        <div class="divider"></div>
        <div class="child2"> 
            <p><b>Sadzone Music</b></p>
            <p class="desc">Streaming milioni di brani</p>
        </div>
        <div class="divider"></div>
        <div class="child2"> 
            <p><b>Sadzone Business</b></p>
            <p class="desc">Servizio per clienti Business</p>
        </div>
        <div class="divider"></div>
        <div class="child2"> 
            <p><b>Sadzone Web Services</b></p>
            <p class="desc"> Servizi Cloud scalabili</p>
        </div>
    </div>
    <div class="back4">
            <p><a>Condizioni generali di uso e di vendita  </a>
            <a>Condizioni generali di uso e vendita  </a>
            <a>Informativa sulla privacy  </a>
            <a>Area legale  </a>
            <a>Cookie  </a>
            <a>Pubblicità definita in base agli interessi  </a></p>
            <p>© 2001-2023 Sadzon.com, Inc. o società affiliate</p>
    </div>
</footer>
